<div class="content_wrapper">
  <form id="formSearch" [formGroup]="formSearch">
    <!-- Diem dau -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.sourceId' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Diem cuoi -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.destId' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Ma tuyen cap -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.laneCode' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Phan cap cap -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.levelId' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Don vi -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.deptId' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Chu so huu -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.ownerId' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Chieu dai -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.length' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- M cap treo -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.length.hang' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- M cap chon -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.length.bury' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- M cap di trong ong -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.length.in.pipe' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Suy hao -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.attenuation' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- trang thai -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.status' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>

    <!-- Ghi chu -->
    <div class="ui-g">
      <label class="ui-g-6 name_label"> {{'cableLane.note' | translate}}</label>
      <div class="ui-g-6 ui-inputgroup">
        <input type="text" pInputText class="input_form" formControlName="">
      </div>
    </div>
  </form>
</div>

