<div class="mb-2">
  <label for="{{field.key}}"
         [ngClass]="{'text-danger':field.formControl.touched &&  field.formControl.invalid}">{{to.label}} <span *ngIf="to.required" style="color: red"> (*)</span></label>
  <input *ngIf="!to.tree" id="{{field.key}}" type="text" pInputText [formControl]="formControl" [formlyAttributes]="field"
         [required]="to.required" [pattern]="to.pattern" [maxlength]="to.maxLength" [mask]="to.maskString" [min]="to.min"
         [max]="to.max" [placeholder]="to.placeholder" [prefix]="prefix || ''" >
  <a *ngIf="to.showicon" class="btn_popup_list"><i class="icon_search"></i></a>
</div>
<formly-validation-message #validationMessage
                           [field]="field"
                           [style.display]="'none'">
</formly-validation-message>

<!--<span-->
<!--  *ngIf="field.formControl && field.formControl.touched &&  field.formControl.invalid && validationMessage.errorMessage"-->
<!--  class="text-danger">-->
<!--        <strong>{{ to.label }}</strong>: {{ validationMessage.errorMessage }}-->
<!--</span>-->
