<div class="content_wrapper">
  <p-messages></p-messages>
  <form [formGroup]="formAdd">
    <div class="content-section implementation">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="line_form ui-g ui-fluid">
            <label class="ui-g-12 ui-md-4 name_label">
              {{'sleeve.type.code' | translate}} <span class="text-danger">*</span>
            </label>
            <div class="ui-g-12 ui-md-8">
              <input pInputText type="text" placeholder="{{'sleeve.type.code' | translate}}"
                formControlName="sleeveTypeCode" maxlength="30" [readonly]="action == 'view'">
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="line_form ui-g ui-fluid">
            <label class="ui-g-12 ui-md-4 name_label">
              {{'sleeve.type.type' | translate}} <span class="text-danger">*</span>
            </label>
            <div class="ui-g-12 ui-md-8">
              <select-filter [property]="f['type']" [options]="typeList" optionLabel="label"
                [disabled]="action == 'view'" optionValue="value"></select-filter>
            </div>
          </div>
        </div>
        <!--  -->

        <!-- Note -->
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="line_form ui-g ui-fluid">
            <label class="ui-g-12 ui-md-4 name_label">
              {{'sleeve.type.note' | translate}}
            </label>
            <div class="ui-g-12 ui-md-8">
              <input type="text" pInputText placeholder="{{'sleeve.type.note' | translate}}" class="input_form"
                formControlName="note" [readonly]="action == 'view'">
            </div>
          </div>
        </div>
        
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="line_form ui-g ui-fluid">
            <label class="ui-g-12 ui-md-4 name_label">
              {{'sleeve.type.capacity' | translate}} <span class="text-danger">*</span>
            </label>
            <div class="ui-g-12 ui-md-8">
              <input type="text" placeholder="{{'sleeve.type.capacity' | translate}}" pInputText class="input_form"
                formControlName="capacity" [readonly]="action == 'view'">
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>

    <div class="line_btn_form">
      <button type="submit" (click)="onSubmit()" class="btn_form" *ngIf = "hide">
        <i class="add_ico"></i>
        <span [innerHTML]="'common.button.storage' | translate"></span>
      </button>
      <button type="button" (click)="onClose()" class="btn_form02">
        <i class="exit_ico"></i>
        <span [innerHTML]="'common.label.cancel' | translate"></span>
      </button>
    </div>
  </form>
</div>