<div class="content">
  <!-- <have-permission [actionCode]="'action.view'" [resourceCode]="'resource.empType'"> -->
      <div>
          <div class="row">
              <div class="col-md-12">
                  <labour-contract-type-search></labour-contract-type-search>
              </div>
          </div>
      </div>
  <!-- </have-permission> -->

  <!-- <have-not-permission [actionCode]="'action.view'" [resourceCode]="'resource.empType'">
      Bạn không có quyền với chức năng này
  </have-not-permission> -->
</div>
