a {
  cursor: pointer;
}

hr {
  border-top: 1px solid #DEDEDE;
}

/*
Custom table pTemplate
*/
p-table .ui-table .ui-table-summary {
  position: absolute;
  bottom: -5px;
  background-color: transparent;
}

p-table .ui-table .ui-table-caption {
  background: #FAFAFA;
  border: none;
}

/*
Custom toast confirm
*/
p-toast .ui-toast-confirm {
  background: transparent;
}

p-toast .ui-toast-confirm .ui-toast-message,
p-toast .ui-toast-confirm .ui-toast-message.ui-toast-message-info,
p-toast .ui-toast-confirm .ui-toast-message.ui-toast-message-success,
p-toast .ui-toast-confirm .ui-toast-message.ui-toast-message-warn,
p-toast .ui-toast-confirm .ui-toast-message.ui-toast-message-error {
  background-color: #fff;
}

p-toast .ui-toast-confirm .ui-toast-message {
  //background-color: #fff;
  padding: 15px;
  position: relative;
  border-radius: 5px;
  margin: 0;
}

p-toast .ui-toast-confirm .ui-toast-close-icon {
  font-size: 19px;
  text-decoration: none;
}

.btn_modal_footer {
  .btn_modal_action {
    color: white !important;
    cursor: pointer;
  }

  .btn_modal_cancel {
    color: #007CBB !important;
    cursor: pointer;
  }
}

/*
Custom toggle column table
*/
.list_btn_grid p-multiSelect {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  //float: right;
}

p-multiSelect .ui-multiselect.ui-multiselect-columns-option {
  width: 30px;
  height: 30px;
  background: #007CBB;
  border: none;
  color: #fff;

  &:hover {
    //background-color: #2c9ed6;
    //color: #fff;
  }
}

.toggle_ico {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(./assets/img/nims/w_insert.png) no-repeat;
  background-size: 100%;
}

p-multiSelect .ui-multiselect.ui-multiselect-columns-option .ui-multiselect-trigger {
  width: 30px;
  height: 30px;
  background: #007CBB;
  border: 1px solid #007CBB;
  border-radius: 4px;
  color: #fff;

  &:hover {
    background-color: #2c9ed6;
    color: #fff;
  }

  .ui-multiselect-trigger-icon {
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

p-multiSelect .ui-multiselect.ui-multiselect-columns-option .ui-multiselect-label-container {
  display: none;
}

body .ui-menu .ui-menuitem .ui-menuitem-link:hover {
  border-left: none;
}

.ui-menu .ui-menuitem {
  margin: .125em 0 !important;
}

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  padding-bottom: 13px;
}

.leaflet-control-fullscreen a {
  background-color: rgba(16, 16, 16, 0.41) !important;
}

// style component in sidebar
@media screen and (min-width: 64.063em) {
  .sidebar {

    .ui-lg-4 {
      width: 100%;
      padding: 0.5em;

      .name_label, .name_content {
        width: 100%;
        padding: 0 0.5em;
      }

      .name_label {
        text-align: left;
      }
    }

    .p-panel {
      height: auto !important;
    }

    .line_btn_form {
      margin-top: auto;
    }

    .ui-scrollpanel-bar-y {
      display: none;
    }
  }
}

@media screen and (min-width: 40.063em) {
  .sidebar {
    .ui-md-6 {
      width: 100%;
      padding: 0.5em;

      .name_label, .name_content {
        width: 100%;
        padding: 0 0.5em;
      }

      .name_label {
        text-align: left;
      }
    }

    .p-panel {
      height: auto !important;
    }

    .line_btn_form {
      margin-top: auto;
    }

    .ui-scrollpanel-bar-y {
      display: none;
    }
  }
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #007CBB;
  color: #ffffff;
}

#nav-container {
  .ui-scrollpanel-wrapper {
    background-color: #01496D;
  }
}

body .ui-widget-content {
  //background-color: #E7E7E7;
  border: none;
}

body .ui-tree {
  background-color: #ffffff;
  width: 100%;
  //min-height: 680px;
  min-height: 100vh;
}

.search-content {
  //height: 100vh;
}

.autocomplete-search-modal {
  // size per page in ui-dialog
  //.ui-paginator .ui-dropdown-panel .ui-dropdown-items {
  //  position: absolute;
  //  bottom: 20px;
  //}

  .tree-list, .custom-sidebar {
    background-color: #E7E7E7;
  }

  .ui-tree {
    background-color: #E7E7E7;
    width: 100%;
    min-height: 630px;
  }

  .content-section {
    padding-top: 15px;
  }

  .search-content {
    height: 630px;
  }

  .size-2 {
    width: 50px;
  }

  hr:not(.tree) {
    margin-left: 1em;
  }

  .list_btn_grid:not(.tree) {
    padding-left: 1em;
  }
}

#tree-list-data {
  .custom-sidebar {
    box-shadow: 3px 3px 3px 0 #F5f5f5;
  }
}

// ui-tabview in ui-dialog
body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  a {
    padding: 12px !important
  }
}

body .ui-tabview .ui-tabview-panels {
  padding: 60px;
  margin: 15px;
}

body .ui-tabview.ui-tabview-top {
  background-color: #ffffff;
  //border: 1px solid #d6d7d9;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav {
  padding: 0;
  border: 0 none;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
  border-top: none;
}

/*ui-autocomplete*/
body .ui-autocomplete-panel .ui-autocomplete-items {
  padding: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.name_content.date-picker {
  position: relative;

  .icon-clear-date {
    position: absolute;
    top: 7px;
    right: 30px;
    cursor: pointer;
    margin-right: 2px;
  }
}

// ui-dialog style
.ui-dialog .ui-dialog-titlebar {
  background-color: transparent;
  color: #5B5B5B;
  padding: 9px 15px !important;

  .ui-dialog-title {
    font-size: 1.2em !important;
  }
}

#confirm-dialog {
  .ui-dialog .ui-dialog-titlebar {
    background-color: #ffffff;
    border: none !important;
    padding-bottom: 0;
  }

  .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    text-align: center;
    padding: 0 1em 1em 1em;
  }

  .ui-dialog .ui-dialog-footer {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
  }
}

#warning-dialog {
  .ui-dialog .ui-dialog-titlebar {
    border: none;
    border-bottom: 1px solid #c7c7c785 !important;
    color: #5B5B5B;
    padding: 9px 15px !important;
    background-color: #ffffff;
  }

  .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1.2em;
  }

  .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    padding: 2em;
  }
}

body .ui-dialog .ui-dialog-content {
  border: none;
  overflow-x: hidden;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

body .ui-panel .ui-panel-titlebar {
  background-color: #fbfbfb;
  border: 1px solid #c8c8c8;
  padding: 3px 11px;
}

body .ui-panel .ui-panel-content {
  padding: 1em;
}

#import-file-dialog, #attach-file-dialog {
  .ui-panel .ui-panel-content {
    border-bottom: none;
  }

  .ui-dialog .ui-dialog-content {
    padding: 0;
  }

  .ui-panel .ui-panel-footer {
    border-top: none;
    padding-bottom: 2em;
  }
}

#import-file-dialog {
  .import_ico {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
}

#attach-file-dialog {
  .ui-panel .ui-panel-titlebar {
    background-color: #0275d8;
    border: none;
    padding: 1em;
  }

  .ui-panel .ui-panel-titlebar .ui-panel-title {
    color: #ffffff;
  }
}

body .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
  color: #007CBB;
  background-color: #ffffff;
  border: 1px solid #007CBB;
}

body .ui-button.ui-state-default.ui-button-secondary:enabled:hover, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
  background-color: #2c9ed6;
  color: #ffffff;
}

body .ui-button:focus, body .ui-button:enabled:hover {
  outline: 0 none;
  background-color: #2c9ed6;
}

body .ui-datepicker .ui-datepicker-buttonbar {
  .ui-g {
    padding: 0 15px;
  }
}

#icon-calendar-table {
  .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    height: 22px;
  }
}

input.ng-invalid.ng-validated {
  border-color: red;
  background-color: pink;
}

.invalid-control {
  input, .ui-autocomplete .ui-autocomplete-input, .ui-dropdown, .trigger-field, select, textarea {
    border-color: #dc3545;

    &:focus {
      outline: none;
    }
  }
}

.icon-edit-cable {
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  background: url(./assets/img/nims/CombinedShape_20x20.png) no-repeat;
  background-size: 100%;
  border: none !important;
  margin-left: -8px !important;
  margin-top: -14px !important;
}

.autocomplete-modal {
  .ui-dialog .ui-dialog-content {
    padding: 0 !important;
  }
}

input:read-only,
.form-control[readonly], .form-control:disabled,
.ui-dropdown.ui-state-disabled .ui-dropdown-trigger, .ui-dropdown.ui-state-disabled .ui-dropdown-label {
  color: #55595c;
  background-color: #D0D0D0 !important;
  opacity: 1 !important;
  border: 1px solid #ccc;
}

.ui-toast-bottom-right {
  background-color: transparent !important;
}

#pillar-save {
  .ui-state-disabled,
  .ui-widget:disabled {
    opacity: 1;
  }
}

#select-filter {
  .ui-state-disabled,
  .ui-widget:disabled {
    opacity: 1;
  }
}

#provideStartDate, #provideEndDate {
  .ui-state-disabled,
  .ui-widget:disabled {
    opacity: 1;
    background-color: #D0D0D0;
  }
}

.cell-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.text-link {
    color: #00bfe7;
    text-decoration: underline;
  }
}

body .cell-text-pre-wrap .ui-table .ui-table-tbody > tr > td,
body .cell-text-pre-wrap .ui-table .ui-table-tbody > tr > td .cell-data,
body .cell-text-pre-wrap .ui-table .ui-table-thead > tr > th {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

.toast-container .ngx-toastr {
  width: 20em;
  color: #212121;
  padding: 15px 15px 5px 50px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: none;
  }
}

.toast-success {
  background-color: #b7d8b7;
  background-image: url(./assets/img/nims/check-solid.svg);

  .toast-title {
    display: none;
  }

  .toast-close-button {
    color: #212121;
    text-shadow: 0 0 0 #ffffff;
  }
}




