.ng-touched.ng-invalid {
  border: 1px solid #a80000 !important;
}

input {
  width: 100%;

  &:focus {
    outline: 1px solid cornflowerblue !important;
  }
}

::ng-deep {
  #zt {
    .ui-overlaypanel {
      top: unset !important;
      left: unset !important;
      max-height: 500px;
      overflow-y: auto;
      width: 100%;
    }
  }
}

