<div class="block-mng block-mng-header">
  <ul>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/sys-cat']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Quản lý tham số dùng chung</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/sys-property']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Quản lý cấu hình hệ thống</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/nation']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Quản lý quốc gia</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/emp-type']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Danh mục diện đối tượng</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/labour_contract_type']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Loại hợp đồng</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/allowance-type']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span translate>app.settings.menu.allowanceType</span>
      </a>
    </li>
    <li class="block-mng-item">
      <a [routerLink]="['/settings/work-flows']">
        <span class="icon-employee-blue icon-mng-employee"></span>
        <span>Work flows mapping</span>
      </a>
    </li>
  </ul>
</div>
