<div class="content_wrapper" >
  <!-- <p-panel header="Danh sách chi tiết" [toggleable]="true"> -->
    <div id="listArea" class="list_btn_grid" (keydown)="enterToOpenCreateTab($event)">
      <div class="panel panel-default">
        <!-- <p-toast position="top-right"></p-toast> -->

        <div class="panel-body panel-table">
          <p-table #dt [columns]="cols" [value]="weldingOdfList" [rows]="10"
                   [totalRecords]="weldingOdfList.length" [responsive]="true"
                   [paginator]="true" [(selection)]="selectedResult" [scrollable]="true"
                   [rowsPerPageOptions]="[5,10,15,20,25,30]"
                   (onRowSelect)="onRowSelect($event)" [resizableColumns]="true" [style]="{ 'max-width': '1650px' }">
            <ng-template pTemplate="caption">
              <button href="#" *hasPermission="['resource.create.weld','resource.odf']" class="btn_grid" pTooltip="{{'common.label.add' | translate}}" tooltipPosition="top" tabindex="0">
                <i class="add_ico" (click)="createTab(id)"></i>
              </button>
              <button href="#" class="btn_grid" pTooltip="{{'pillar.export' | translate}}" tooltipPosition="top">
                <i class="export_excel_ico" (click)="exportExcel()"></i>
              </button>
              <button href="#"  *hasPermission="['resource.delete.weld','resource.odf']" class="btn_grid" pTooltip="{{'common.button.delete' | translate}}" tooltipPosition="top">
                <i class="delete_ico" (click)="onDelete(null, this.selectedResult)"></i>
              </button>
              <p-multiSelect [options]="selectedColumns" [(ngModel)]="cols" [ngModelOptions]="{standalone: true}"
                             dataKey="id" optionLabel="headerTranslate" defaultLabel=""
                             [filter]="true" filterBy="label, value.headerTranslate" resetFilterOnHide="true"
                             [showToggleAll]="true" styleClass="ui-multiselect-columns-option"
                             (onChange)="onChangeCols($event)" dropdownIcon="toggle_ico"
                             pTooltip="{{'station.manage.shcolum.label' | translate}}" tooltipPosition="top" appendTo="body">
              </p-multiSelect>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col style="width:3rem">
                <col style="width:10rem">
                <col style="width:3rem">
                <col *ngFor="let col of columns" [ngClass]="col.classHeader" style="width:15rem">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th rowspan="2" translate class="text-center size-2">common.table.index</th>
                <th rowspan="2" translate class="text-center size-6">common.table.action</th>
                <th rowspan="2" class="text-center size-2">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="col.classHeader"
                    class="text-center" (contextmenu)="onLinkRightClickedHeader(col.field, $event)">
                  {{col.header | translate}}
                  <p-sortIcon [field]="col.field" class="ngIf field.selected "></p-sortIcon>
                </th>
              </tr>
              <tr>
                <!-- <th class="text-center size-2"></th>
                <th class="text-center size-6"></th>
                <th class="text-center size-2"></th> -->
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input *ngSwitchCase="'odfCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains');">
                  <input *ngSwitchCase="'couplerNo'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'cableCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'lineNo'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'destOdfCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'destCouplerNo'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'createUser'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'attenuation'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'note'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <!-- <input *ngSwitchCase="'odfConnectType'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')"> -->
                  <p-dropdown *ngSwitchCase="'odfConnectType'" [options]="types" [style]="{'width':'100%'}" appendTo="body" optionLabel="label"
                    (onChange)="filterByType($event.value.value, col.field, dt)">
                  </p-dropdown>
                  <p-calendar *ngSwitchCase="'createDate'" dateFormat="dd/mm/yy" showIcon="true" id="icon-calendar-table" showButtonBar="true" #createTime
                                   appendTo="body" (onSelect)="filterDate($event, col.field, dt)" (onInput)="filterDate($event.target.value, col.field, dt)"
                                   (onClearClick)="filterDate(null, col.field, dt)">
                  </p-calendar>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex+1"> 
              <tr>
                <td class="text-center size-2">{{index}}</td>
                <td class="size-6 d-flex justify-content-center">
                  <a class="btn_action" *hasPermission="['resource.view.weld','resource.odf']" pTooltip="{{'common.label.view.detail' | translate}}" tooltipPosition="top" (click)="showDetail(rowData)"
                  >
                    <i class="more_ico"></i>
                  </a>
                  <a class="btn_action" *hasPermission="['resource.update.weld','resource.odf']" pTooltip="{{'common.label.edit' | translate}}" tooltipPosition="top"
                     (click)="updateTab(rowData)">
                    <i class="repair_ico"></i>
                  </a>
                  <a class="btn_action" *hasPermission="['resource.delete.weld','resource.odf']" pTooltip="{{'common.button.delete' | translate}}" tooltipPosition="top" (click)="onDelete(rowData, null)">
                    <i class="remove_ico"></i>
                  </a>
                  <a class="btn_action" pTooltip="{{'common.button.attach.file' | translate}}" tooltipPosition="top">
                    <i class="attact_ico"></i>
                  </a>
                </td>
                <td class="text-center size-2">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" [ngClass]="col.classField" [rightClickCopy]="rowData[col.field]"
                    (contextmenu)="onLinkRightClickedRow(rowData[col.field], $event)" (dblclick)="onRowDblClick(rowData)">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="summary">
            <span
              *ngIf="dt?.totalRecords > 0">{{'pagination.record.from' | translate}} {{(dt?.first + 1) + '-' + ((dt?.first + dt?.rows) < dt?.totalRecords ? (dt?.first + dt?.rows) : dt?.totalRecords)}}
              {{'pagination.of' | translate}} {{dt?.totalRecords}} {{'pagination.record' | translate}}</span>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length+3">
                  {{'common.label.noData'|translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  <!-- </p-panel> -->
</div>
<p-contextMenu #contextMenu [model]="items" appendTo="body"></p-contextMenu>

<p-toast position="bottom-right" key="s"></p-toast>
<p-toast position="bottom-right" key="cp"></p-toast>
<p-toast position="bottom-right" key="err"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm(message.data)" label="{{'common.label.yes' | translate}}"
                class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="{{'common.label.no' | translate}}"
                class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-right"></p-toast>

<p-toast position="center" key="excel" (onClose)="onReject('excel')" [modal]="true" styleClass="ui-toast-confirm"
         [autoZIndex]="true">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="btn_modal_footer" style="text-align: center">
      <a (click)="exportExcel()" class="btn_modal_action" style="color: white">{{'common.label.yes' | translate}}</a>
      <a (click)="onReject('excel')" class="btn_modal_cancel"
         style="color: #007CBB">{{'common.label.no' | translate}}</a>
    </div>
  </ng-template>
</p-toast>

<p-dialog id="confirm-dialog" [(visible)]="displayConfirmDelete" [modal]="true"
          [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000"
          [focusOnShow]="false" [draggable]="false">
  <h4>{{'common.button.confirm' | translate}}</h4>
  <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'common.message.confirm.delete' | translate}}</p>
  <p-footer>
    <button type="button" pButton (click)="onSubmitDelete()" label="{{'common.label.yes' | translate}}"></button>
    <button #focus type="button" pButton (click)="onHideConfirmDelete()" label="{{'common.label.no' | translate}}"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog id="warning-dialog" header="{{'common.warning.delete.title' | translate}}"
          [(visible)]="displayWarningMessDelete" [modal]="true"
          [responsive]="true" [style]="{width: '600px'}" [minY]="70" [baseZIndex]="10000" [focusOnShow]="false"
          [draggable]="false" (onHide)="onHideWarningDelete()">
  <div class="row" *ngIf="warningMessDeleteWeldingOdf">
    <div class="col-12">
      <p class="mb-2">{{warningMessDeleteWeldingOdf}}</p>
    </div>
  </div>
</p-dialog>
